@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> testing the pipeline 7/7/23 15:15 - 
        
    </h1>
    <h2>douzieme essaie test failed </h2>
    <h2>1er essaie réeussite,</h2>
    <h2>test 3,</h2>
    <h2>test 4,</h2>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
